
// @import "../../components/typeplate/stylus/typeplate.styl"

body
  font-family: 'PT Serif', serif
  display: block
  width: 960px
  margin: 0 auto

nav li
  display: inline
  list-style-type: none
  padding-right: 20px

header#top
  display: block
  width: 720px
  margin: 0 auto
  border-bottom: 1px solid #222

footer .inner
  display: block
  width: 720px
  margin: 0 auto

#content
  display: block
  width: 720px
  margin: 0 auto

