extends layout

block content
  p
    :markdown
      Hello there! My name is Jon Wong and I'm a fourth-year
      undergraduate at the University of California, San Diego.

      I've worked at places like [Research in Motion](http://rim.com),
      [Lore](http://lore.com), and
      [Social Print Studio](http://socialprintstudio.com). I currently
      work as an undergraduate advisor for the 
      [Engineering World Health](http://ucsdewh.weebly.com) and
      [We Have, We Need](http://whwn.org) teams as part of the 
      [Global TIES](http://globalties.ucsd.edu) program at UCSD. I also
      work at the Scripps Research Institute on a project called 
      [VIPERdb3](http://viperdb.scripps.edu).