extends layout

block content
  p
    :markdown
      Hello there! My name is Jon Wong and I'm a fourth-year
      undergraduate at the University of California, San Diego.
      I'm a huge Warriors fan, as well as a software developer.
      Check out my blog for some of my more recent developments!