!!! 5
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title
        block title
          = locals.name
      link(rel='stylesheet', href='/css/main.css')
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=PT+Serif')
  body
    header#top
      div.inner
        block header
          h1
            a(href=locals.url)= locals.name
          nav
            ul
              li
                a(href="/") home
              li
                a(href='/blog/') blog
              li
                a(href="/projects/") projects
              li
                a(href="/about-me/") about me
    div#content
      block content
    footer
      div.inner
        block footer
          p &copy; #{ new Date().getFullYear() } #{ locals.owner }
